<table class="table table-striped" style="width:50%;">

                <thead class="thead-inverse">

                    <tr>
                        <th>
                            Html.DisplayNameFor(model => model.ProductoNombre)
                        </th>
                        <th>
                            Html.DisplayNameFor(model => model.ProductoDescripcion)
                        </th>
                        <th>
                            Html.DisplayNameFor(model => model.TipoProducto.TipoNombre)
                        </th>
                        <th>
                            Html.DisplayNameFor(model => model.GrupoProducto.GrupoNombre)
                        </th>
                        <th>
                            Html.DisplayNameFor(model => model.Usuarios.Password)
                        </th>
                        <th>
                            Html.DisplayNameFor(model => model.PME)
                        </th>
                        <th>
                            Html.DisplayNameFor(model => model.FechaAdquisicion)
                        </th>
                        <th>
                            Html.DisplayNameFor(model => model.FacturaNumero)
                        </th>
                    </tr>
                </thead>
                
                    
                

            </table>