@{
    ViewBag.Title = "Index";
}
   
<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <input id="boton1" type="button" value="Partial1" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" onclick="modal1()" />
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
        <input id="boton2" value="partial2" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2" onclick="modal2()" />
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
        <input id="boton 3" type="button" value="button 3" onclick="bt5()" />
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>

<div id="result" style="text-align:center;">
    <h2>here</h2>
</div>

<div class="modal fade" id="myModal" role="dialog" > </div>

<div class="modal fade" id="myModal2" role="dialog" >
    <div id="dial" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
          </div>
<div id="modal2_partial"></div>
          <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>




@*@Scripts.Render("~/js_test/func.js")*@
<script type="text/javascript">
var count = 1;

function modal1() {
    $.ajax({
        url: '/Test/ModalTestPartial/',
        data: { id: count },
        type: "GET",
    }).done(function (result) {
        $("#myModal div").remove().ready($("#myModal").append(result));
        count++;
    });
}

function modal2() {
    $.ajax({
        url: '/Test/ModalTestPartial2/',
        data: { id: count },
        type: "GET",
    }).done(function (result) {
        $("#modal2_partial div").remove().ready($("#modal2_partial").append(result));
        count++;
    });
}
</script>
@*<script>
    //var con = 1;
    //function js1() {
    //    ////$('#pos0').append(sho3);
    //    //// $('#resultado table').remove();
    //    $("#result h2").remove();
    //    $('#result').load('/Test/jstest/', { id: 1 });
    //}

    //function ajax1() {
    //    $.ajax({
    //        url: '/Test/jstest2',
    //        data: { id: con }
    //    }).done(function (data) {
    //        $('#result').append(data);
    //        con++;
    //    });
    //}


    //function divt() {
    //    //var a = $("#Text1").val();
    //    //$('#divtest').load('/Home/_test_partial32/', { id: 1 });
    //    //alert("FINISH");
    //    $('#divtest').load('/Controlador/metodo/', { variable: valor });
    //    alert("FINISH");
    //}

    //function test() {
    //    //$.ajax({
    //    //    url: '/Home/_test_partial32',
    //    //    data: { id: 1 }
    //    //}).done(function () {
    //    //    alert('done');
    //    //});
    //    $.ajax({
    //        url: '/Controlador/metodo',
    //        data: { variable: valor }
    //    }).done(function () {
    //        alert('done');
    //    });
    //}
</script>*@
