@*<div class="modal fade" id="myModal" role="dialog">*@
    
        <div class="modal-body">
          <p>Some text in the modal.</p>
            <h1>@ViewBag.id</h1>
        </div>
        
@*  </div>*@
